
.mat-form-field {
  width: 90%;
  min-width: 300px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  width: 100%;
}

.mat-raised-button.mat-success
{
  color: #f0fff3;
  background-color: #13368C;
}

.mat-form-field-infix {
  color: green;
}
.mat-form-field-underline {
  background-color: green;
}
// .login-card {
//   margin: auto;
//   width: 100%;
//   padding: 0;
// }
.background-login{
  background-color: blue;

}