// @import "src/scss/variables";
// // @import '../../../../ ~@angular/material/theming';

// // $primary: mat-palette($mat-indigo);
// a {
//   color: $default_white;
//   text-decoration: none;
// }

// .mat-raised-button.mat-success
// {
//   color: #f0fff3;
//   background-color: #1e20ad;
// }
nav > a {
  padding: 5px;
  text-decoration: none;
}
nav > a.active {
  background-color: #13368C;
}
.header-row{
  width: 100%;
}
.header-toolbar {
  margin-bottom: 20px;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.example-spacer {
  flex: 3 6 auto;
}

